header {
  height: 400px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/axiom-pattern.png');
}
.header-img {
  align-self: center;
  margin: auto;
}
.nav-header {
  position: relative;
  margin-top: 0;
}