.arrow-nav {
  text-decoration: none;
  color: white;
}

.arrow-nav:hover {
  transform: scale(1.5)
}

.fas {
  margin: auto;
}

i {
  align-self: center;
  color: red;
  margin-bottom: 1em;
  margin-top: 0;
}

nav {
  height: 120px;
  background-color: #4056A1;
  background-image: url('../images/axiom-pattern.png');
  color: #FFFFFF;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
}
.nav-new {
  margin-top: 1.5em;
  position: relative;
  margin-bottom: 0;
}

.nav-new:hover {
  transform: scale(1.5)
}

.nav-item {
  font-family: 'Bungee';
  top: 1.5em;
  position: relative;
  margin-left: 1.5em;
}

a.nav-item {
  color: white;
}

#tweet-arrows {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  margin-top: 0;
  align-items: center;
}

@media screen and (min-width: 768px) {
  nav {
    background-color: #F09F52;
  }
}