i {
  align-self: center;
  color: red;
  margin-bottom: 1em;
}
.fas {
  margin-top: 0.5em;
}
nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  top: 0;
}
.nav-new {
  top: 1.5em;
  position: relative;
}
.nav-item {
  font-family: 'Bungee';
  top: 1.5em;
  position: relative;
  margin-left: 1.5em;
}
a.nav-item {
  color: white;
}
#tweet-arrows {
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  margin-top: 0;
}
