#error-message {
  display: none;
  color: red;
  border: 2px solid red;
  margin: auto;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.submit-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.tweet-form {
  align-self: center;
  width: 100%;
}

#tweet-text {
  background-color: #f4f1ec;
  border: 0;
  border-bottom: 2px solid black;
  width: 100%;
}