article.tweet footer {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
article.tweet header {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > div > i {
  margin-bottom: 0;
}

footer > p {
  margin-bottom: 0;
  margin-top: 0;
}

.handle {
  display: none;
  font-weight: lighter;
  color: #5c8fad;
  margin-top: 0;
  margin-bottom: 0;
}

.tweet {
  width: 100%;
  margin: auto;
  border: 2px solid black;
  font-weight: normal;
  margin-bottom: 2rem;
  padding: 20px;
}

.tweet-content {
  width: 90%;
  border-bottom: 2px solid black;
  margin: auto;
}

.tweet i {
  color: #5c8fad
}

.tweet:hover {
  box-shadow: 12px 11px 6px -4px #5c8fad;
  font-weight: 700;
}

.tweet:hover .handle {
  display: inline;
}

.username-icon {
  display: flex;
  flex-direction: row;
}

.username-icon p, .username-icon i {
  margin-top: 0;
  margin-bottom: 0;
}